<div class="talks">
    <h2><b>Talks and Posters</b></h2>
      <div class="table-responsive">
        <table class="table table-sm table-borderless">
          <tr>
          <th scope="row">November, 2021</th>
            <td>
              <b>[Talk, Poster] SNU Artificial Intelligence Institute Workshop - Seoul, South Korea</b><br>
                ELSA: Hardware-Software Co-design for Efficient, Lightweight Self-Attention Mechanism in Neural Networks
            </td>
          </tr>
          <tr>
            <th scope="row">April, 2021</th>
            <td>
              <b>[Talk] PeRSonAl workshop @ MLSys - Virtual </b><br>
                MERCI: Effcient Embedding Reduction on Commodity Hardware via Sub-Query Memoization
            </td>
          </tr>
          <tr>
          <th scope="row">April, 2021</th>
            <td>
              <b>[Talk, Poster] SNU Artificial Intelligence Institute Workshop - Seoul, South Korea</b><br>
                MERCI: Effcient Embedding Reduction on Commodity Hardware via Sub-Query Memoization
            </td>
          </tr>
  
        </table>
      </div>
  </div>